.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.h2{
    color:#fff;
    font-size: 20pt;
    margin: 10px 0;
}

.p{
    color: rgb(160, 160, 160);
    font-size: 10pt;
}

.h2-center{
    text-align: center;
}

.p-center{
    text-align: center;
}

.flex--container{
    display:flex;
    justify-content: center;
    align-items: center;
}

body{
    height: 100vh;
    width:100vw;
    background-color: #000;
}

.wrapper{
    width: 270px;
    height: 270px;
    margin: auto 0;
    padding: 30px;
    background-color: rgb(34, 41, 52);
    border-radius: 25px;
}

.pageTwo{
    display: none;
}

.icon--container{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(55, 59, 64);
}

.text--container{
    margin: 25px 0;
}

.score--container{
    margin: 0 0 25px 0;
    justify-content: space-between;
}

.score--btn{
    width: 35px;
    height: 35px;
    color: rgb(160, 160, 160);
    border-radius: 50%;
    background-color: rgb(55, 59, 64);
    border: 0;
}


.score--btn:hover{
    color:#fff;
    background-color: rgb(145, 150, 155);
}
.score--btn:active{
    color:#fff;
    background-color: rgb(255, 128, 0);
}

.score--btn--onclick{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 0;
    color:#fff;
    background-color: rgb(255, 128, 0);
}

.submit--btn{
    color: #fff;
    background-color: rgb(255, 128, 0);
    padding: 10px;
    width: 100%;
    border-radius: 25px;
    border: 0;
}
.submit--btn:hover{background-color: rgb(249, 161, 73);}
.submit--btn:active{
    color:rgb(255, 128, 0);
    background-color: #fff;
}

.ratingValue{
    width: 180px;
    margin: 20px auto;
    border-radius: 25px;
    text-align: center;
    background-color: rgb(55, 59, 64);
    color:rgb(255, 128, 0);
}
